<div class="box">
<form action="/contact/" method="post">
  <h1><%="Contact Us".t%></h1>

  <div class="row clear">
    <label for="form_name"><%="Your name:".t%></label>
    <input type="text" id="form_name" name="name" />
  </div>

  <div class="row clear">
    <label for="form_phone"><%="Your phone number:".t%></label>
    <input type="text" id="form_phone" name="phone" />
  </div>

  <div class="row clear">
    <label for="form_email"><%="Your email:".t%></label>
    <input type="text" id="form_email" name="email" />
  </div>

  <div class="row clear">
    <label for="form_message"><%="Your message/question:".t%></label>
    <textarea id="form_message" name="message"></textarea>
  </div>

  <input type="submit" value="Send" class="button"/>
  
  <div class="clear"></div>

</form>
</div>